.toolBar {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttonContainer {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 18px;
  }
  .memberContainer {
    padding-left: 54px;
  }

  .member {
    display: flex;
    gap: 12px;
  }

  .members {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 401px;
  }
}

.submitButtonContainer {
  padding-top: 24px;
}
